
<%- include('Partials/header') -%>

<!-- <h1>Home</h1>
<p>
    <%= startingContent %>
</p>

    <% for(var x = 0; x < posts.length; x++){ %>
        <h1><%= posts[x].title;  %></h1>
        <p><%= posts[x].content;%></p>
    
    <%} %>
 -->

 <div class="main-div">

    <div class="row">

        <div class="col box1">
                <h4 class="box-text">Enter your table number</h4>
                <input class="box-input" type="text" name="table-number"/>

    

            <!-- <div class="col box2">
                <h4 class="box-text">Number of people per table</h4>
                <input class="box-input" type="text" name="number-of-people"/>

            </div> -->
        </div>

        <button class="home-submit-button"><h4>Submit</h4></button>

    </div>




 </div>



<%- include('Partials/footer') -%>